html {
    background: url(../img/background.jpg) no-repeat center 40px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    padding-top: 4.5rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: rgb(223, 230, 233);
}

.header-img {
    padding-top: 0;
    padding-bottom: 2rem;
    max-height: 420px;
}

.nav-bar {
    padding: 0rem 1rem;
}

.nav-link {
    font-size: 20px;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: rgb(235, 77, 75);
}

.dropdown-item.active {
    color: rgb(235, 77, 75);
    background-color: #f8f9fa;
}

.promo-message {
    background-color: #C05240;
    color: rgb(223, 230, 233);
    font-size: 20px;
    padding: 5px;
}

.promo-modal {
    color: black;
}

.insta-cols > .card {
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
    max-width: 380px;
}

.insta-cols {
    padding: .1rem .2rem .1rem .2rem;
}

.full-page {
    flex: 1;
}

.footer {
    color: rgb(223, 230, 233);
    background-color: rgba(245, 245, 245, 0.4);
    margin-top: 20px;
    font-family: "Arial", Helvetica, sans-serif;
}

a.footer-email, a.footer-email:hover {
    color: rgb(223, 230, 233);
    text-decoration: none;
}

li.social > a, li.social > a, li.social > a > i {
    color: rgb(245, 245, 245);
    padding-right: .25rem;
    padding-left: .25rem;
}

.fa-facebook:hover {
    color: rgb(104, 109, 224);
}

.fa-instagram:hover {
    color: rgb(240, 147, 43);
}

.fa-envelope:hover {
    color: rgb(106, 176, 76);
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

td.tt-class {
    position: relative;
}

td.tt-class:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

td.tt-class a.tt-class-link {
    display: inline-block;
    width: 100%;
    color: rgb(223, 230, 233);
    text-decoration: none;
}

a.tt-class-link:hover {
    color: rgb(223, 230, 233);
    text-decoration: none;
}

div.tt-class-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.tt-class-open_space {
    background-color: #00A27C;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-core_balance {
    background-color: #D980FA;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-pad_work {
    background-color: rgb(193, 50, 165);
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-movement {
    background-color: #06005E;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-yoga {
    background-color: #453FBF;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-plyometrics {
    background-color: rgb(124, 50, 193);
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-hitt {
    background-color: #cd6133;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-muaythai {
    background-color: #cdb14a;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-weightlifting {
    background-color: #294D00;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-mobility {
    background-color: #1f81dd;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-acrobatics {
    background-color: #B30000;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-catchup {
    background-color: #000fb3;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-class-advanced {
    background-color: #b39245;
    color: rgb(223, 230, 233);
    border-radius: 5px;
}

.tt-small {
    color: rgb(223, 230, 233);
    padding-bottom: 2rem;
}

.tt-small-item {
    padding-bottom: 0.25rem;
}

.tt-small-day {
    padding-bottom: 0.25rem;
}

.tt-small hr {
    border-color: rgb(223, 230, 233);
    margin: 5px 0;
    padding-bottom: 0.25rem;
}

.price-table {
    font-size: 20px;
    /*width: 70%;*/
}

.price-table .header {
    font-size: 26px;
}
