{% extends 'base.twig' %}
 
{% block container %}
    <h2 class="text-primary">Who are we?</h2>
    <p>
        This facility was built on the idea of inclusive training. We keep an open mind about all training styles and
        look into the reasoning and benefits of absolutely everything. We have coaches to teach specialized skills,
        however everything about us encourages you to reach out and explore everything else that’s out there. It’s all
        under one roof so there’s no reason not to!
    </p>
    <h2 class="text-primary">Why mix?</h2>
    <p>
        We ourselves all specialize in specific disciplines, however we never close our doors to a new approach. There
        are many benefits to lightly delving into other sports, allowing us to fill in the gaps when our body isn’t
        capable of achieving certain movements.
    </p>
    <p>
        This concept has been done for many years by world class athletes. It isn’t uncommon to hear swimmers hitting
        the gym, dancers learning hand balancing, or even weightlifters developed from gymnasts.
    </p>
    <p>
        We are always looking to add more styles to what we offer, so there is no limit to what you can learn here!
    </p>
    <h2 class="text-primary">The Team</h2>
    <img class="mx-auto img-fluid w-50" src="static/img/brian.png">
    <hr>
    <h3>Brian Tran</h3>
    <p>
        The first sport Brian truly committed to was Karate. Something that started off as a way to spend time with
        friends eventually lead into competition all the way through to a national level. Over the course of around 10
        years, Brian became obsessed with discovering the concepts and movements of other martial arts styles, ranging
        from boxing all the way to Kung Fu. Upon becoming a personal trainer, the habit of mixing training methods and
        styles expanded into other disciplines, with the idea of finding the connections between different sports. Over
        the past few years Brian has competed as a gymnast and is looking to compete in other movement challenges.
    </p>
{% endblock %}

