<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-75631744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-75631744-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Torque Movement is a fitness, training, and performance centre located in Boronia. We offer a range of client driven classes and personal training."/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description"
          content="Torque Movement is a fitness, training, and performance centre located in Boronia. We offer a range of client driven classes and personal training."/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Torque Movement is a fitness, training, and performance centre located in Boronia. We offer a range of client driven classes and personal training." />
    <meta name="twitter:title" content="Torque Movement - Fitness, Training, and Performance Centre" />
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/torquetwo.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon.ico.png">
    <link rel="icon" href="/static/favicon.ico.png">
</head>
<body>
{% include 'nav.twig' %}
{#{% include 'promobanner.twig' %}#}
{% include 'promomodal.twig' %}
{% include 'contactmodal.twig' %}
<img class="header-img img-fluid mx-auto d-block" src="/static/img/header.png">
<br/>
<div class="d-flex flex-column container full-page">
    {% block container %} {% endblock %}
</div>
{% include 'footer.twig' %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    $(document).ready(function () {
        $("#close-promo").click(function () {
            $(this).parent().addClass("d-none");
            setCookie("banner_promo", "false", 14);
        });
    });
    {% if modal_promo %}
    $(window).on('load', function () {
        $('#promoModal').modal('show');
    });
    {% endif %}
</script>
{% block scripts %} {% endblock %}
</body>
</html>
