{% extends 'base.twig' %}

{% block container %}
    <healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="2540536ff26" data-widget-version="0"></healcode-widget>
{% endblock %}

{% block scripts %}
    <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
{% endblock %}