{% extends 'base.twig' %}
 
{% block container %}
    <h2 class="text-primary text-center"><a href="/book/classes">Click here to book into a class today!</a></h2>
    <table class="d-none d-lg-table table table-striped table-dark">
        <thead>
        <tr>
            <th class="tt-day text-center">
                Monday
            </th>
            <th class="tt-day text-center">
                Tuesday
            </th>
            <th class="tt-day text-center">
                Wednesday
            </th>
            <th class="tt-day text-center">
                Thursday
            </th>
            <th class="tt-day text-center">
                Friday
            </th>
            <th class="tt-day text-center">
                Saturday
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td rowspan="2" modal-target="#class-catchup-modal"
                class="text-center align-middle tt-class tt-class-catchup">
                CATCH-UP</br>
                Brian</br>
                06:00 – 07:00
            </td>
            <td></td>
            <td></td>
            <td rowspan="2" modal-target="#promoModal"
                class="text-center align-middle tt-class tt-class-hitt">
                INTENSITY</br>
                Brian</br>
                06:00 – 07:00
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2" modal-target="#class-muaythai-modal"
                class="text-center align-middle tt-class tt-class-muaythai">
                MUAY THAI BODYFIT</br>
                David</br>
                08:00 – 09:00
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {#<td></td>#}
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2" modal-target="#class-plyometrics-modal"
                class="text-center align-middle tt-class tt-class-plyometrics">
                PLYOMETRICS</br>
                Brian</br>
                09:30 – 10:30
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {#<td></td>#}
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" modal-target="#class-weightlifting-modal"
                class="text-center align-middle tt-class tt-class-weightlifting">
                WEIGHTLIFTING</br>
                Brian</br>
                17:30 – 18:30
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2" modal-target="#class-catchup-modal"
                class="text-center align-middle tt-class tt-class-catchup">
                CATCH-UP</br>
                Brian</br>
                18:00 – 19:00
            </td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" modal-target="#class-movement-modal"
                class="text-center align-middle tt-class tt-class-movement">
                MOVEMENT</br>
                Brian</br>
                18:30 – 19:30
            </td>
            <td rowspan="2" modal-target="#class-advancedskills-modal"
                class="text-center align-middle tt-class tt-class-advanced">
                SKILLS</br>
                Brian</br>
                18:30 – 19:30
            </td>
            <td rowspan="2" modal-target="#class-movement-modal"
                class="text-center align-middle tt-class tt-class-movement">
                MOVEMENT</br>
                Brian</br>
                18:30 – 19:30
            </td>
            <!--             <td></td> -->
            <td rowspan="2" modal-target="#class-catchup-modal"
                class="text-center align-middle tt-class tt-class-catchup">
                CATCH-UP</br>
                Brian</br>
                18:30 – 19:30
            </td>

            <td></td>
        </tr>
        <tr>
            <!--             <td></td> -->
            <!--             <td></td> -->
            <!--             <td></td> -->
            <!--             <td></td> -->
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" modal-target="#class-yoga-modal"
                class="text-center align-middle tt-class tt-class-yoga">
                YOGA</br>
                Bibi</br>
                19:30 – 20:30
            </td>
            <td rowspan="2" modal-target="#class-catchup-modal"
                class="text-center align-middle tt-class tt-class-catchup">
                CATCH-UP</br>
                Brian</br>
                19:30 – 20:30
            </td>
            <td rowspan="2" modal-target="#promoModal"
                class="text-center align-middle tt-class tt-class-hitt">
                INTENSITY</br>
                Brian</br>
                19:30 – 20:30
            </td>
            <td rowspan="2" modal-target="#class-catchup-modal"
                class="text-center align-middle tt-class tt-class-catchup">
                CATCH-UP</br>
                Brian</br>
                19:30 – 20:30
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            {#<td></td>#}
            <!--             <td></td> -->
            <!--             <td></td> -->
            <!--             <td></td> -->
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div class="d-lg-none">
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Monday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-weightlifting-modal">WEIGHTLIFTING</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                17:30 – 18:30
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-movement-modal">MOVEMENT</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                18:30 – 19:30
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-movement-modal">YOGA</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                19:30 – 20:30
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Tuesday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-catchup-modal">CATCH-UP</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                06:00 – 07:00
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-advancedskills-modal">SKILLS</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                18:30 – 19:30
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-catchup-modal">CATCH-UP</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                19:30 – 20:30
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Wednesday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-movement-modal">MOVEMENT</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                11:00 – 12:00
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-movement-modal">MOVEMENT</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                18:30 – 19:30
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#promoModal">INTENSITY</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                19:30 – 20:30
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Thursday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-catchup-modal">CATCH-UP</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                18:30 – 19:30
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-catchup-modal">CATCH-UP</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                19:30 – 20:30
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Friday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#promoModal">INTENSITY</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                06:00 – 07:00
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-movement-modal">MOVEMENT</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                18:00 – 19:00
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row tt-small">
            <div class="tt-small-day col-12 text-left">
                <h3>Saturday</h3>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal" data-target="#class-muaythai-modal">MUAY THAI BODYFIT</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                08:00 – 09:00
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="tt-small-item col-6 text-left">
                <a class="tt-class-link" href="#" data-toggle="modal"
                   data-target="#class-plyometrics-modal">PLYOMETRICS</a>
            </div>
            <div class="tt-small-item col-6 text-right">
                09:30 – 10:30
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
    </div>
    <br>
    <div class="row price-table mx-auto align-content-center">
        <div class="header col-12 text-center">
            CLASS PRICING
        </div>
        <div class="row mx-auto">
            <div class="header col-12 text-center">
                Casual
            </div>
            <div class="col-md-4 col-6 order-md-1 order-1 text-center">
                One Class
            </div>
            <div class="col-md-4 col-6 order-md-2 order-3 text-center">
                5 Pack
            </div>
            <div class="col-md-4 col-6 order-md-3 order-5 text-center">
                10 Pack
            </div>
            <div class="col-md-4 col-6 order-md-4 order-2 text-center">
                $25
            </div>
            <div class="col-md-4 col-6 order-md-5 order-4 text-center">
                $110
            </div>
            <div class="col-md-4 col-6 order-md-6 order-6 text-center">
                $200
            </div>
        </div>
        <div class="row mx-auto">
            <div class="header col-12 text-center">
                Membership
            </div>
            <div class="col-md-4 col-6 order-md-1 order-1 text-center">
                One Class
            </div>
            <div class="col-md-4 col-6 order-md-2 order-3 text-center">
                Two Classes
            </div>
            <div class="col-md-4 col-6 order-md-3 order-5 text-center">
                Unlimited Classes
            </div>
            <div class="col-md-4 col-6 order-md-4 order-2 text-center">
                $20/week
            </div>
            <div class="col-md-4 col-6 order-md-5 order-4 text-center">
                $40/week
            </div>
            <div class="col-md-4 col-6 order-md-6 order-6 text-center">
                $50/week
            </div>
        </div>
    </div>
    <br>
    {#<div class="row price-table mx-auto">#}
        {#<div class="header col-12 text-center">#}
            {#KIDS CLASS PRICING#}
        {#</div>#}
        {#<div class="col-12 text-center">#}
            {#$99/term#}
        {#</div>#}
    {#</div>#}
    {#<br>#}

    <div class="modal fade" id="class-movement-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-movement-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-movement-modalLabel">Movement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Movement is all about balancing out the body by learning a huge variety of exercises. We've adopted
                    exercises from a large range of training styles including conventional gym training, gymnastics,
                    olympic weightlifting, and more! It's the perfect space to pair up different training styles to get
                    some interesting results. It can range from carrying something heavy to even balancing on one hand.
                    The freedom of the class allows us to individually address any gaps in people's movement patterns.
                    It’s the perfect way to develop a well-rounded body.
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-yoga-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-yoga-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-yoga-modalLabel">Yoga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-corebalance-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-corebalance-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-movement-modalLabel">Core Balance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Core balance is a large selection of exercises that’ll help develop a solid core. More importantly
                    it focuses on maintaining core strength and applying it to daily movements. It’s the best class to
                    help correct posture and spinal alignment, helping you to be more in touch with your body to prevent
                    back and joint problems.
                    <br>
                    A great class to help rebuild core strength after injury or childbirth.
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-muaythai-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-muaythai-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-movement-modalLabel">Muay Thai Bodyfit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Muay Thai Bodyfit is the exhilarating full body workout that uses the word FUN & FITNESS in the same
                    sentence – Say Whaaat!? We take the fantastic art of Muay Thai, a sport that uses punches, kicks,
                    knees & elbows and turn it into a fun & exciting workout!
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-mobility-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-mobility-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-mobility-modalLabel">Mobility</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Having good mobility makes nearly all movements easier to achieve. This class will focus on safely
                    gaining flexibility as well as strengthening the body to allow for proper range of motion. This
                    class is also a great way to stretch back out after a long week of training.
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-plyometrics-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-plyometrics-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-plyometrics-modalLabel">Plyometrics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Plyometrics introduces jump variations, agility drills and reflex drills aimed at increasing speed,
                    muscle power and explosiveness. This plyometrics class is the missing link between slow, controlled
                    strength training and fast firing movements much needed for many competitive sports. This class is
                    suitable for all levels and will include designated time for individualised exercises for each
                    person!
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-pad_work-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-pad_work-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-pad_work-modalLabel">Pad Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Padwork is a great class for fitness. If you're after some martial arts technique while getting an
                    awesome workout then this is the class for you! We teach proper technique to ensure you're getting
                    maximum results for your efforts. It's a lot of fun and a great stress reliever!
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    {#<div class="modal fade" id="class-kids-modal" tabindex="-1" role="dialog" aria-labelledby="class-kids-modalLabel"#}
         {#aria-hidden="true">#}
        {#<div class="modal-dialog modal-dialog-centered" role="document">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<h5 class="modal-title text-dark" id="class-kids-modalLabel">Kids</h5>#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                        {#<span aria-hidden="true">&times;</span>#}
                    {#</button>#}
                {#</div>#}
                {#<div class="modal-body text-center text-dark">#}
                    {#Kids classes aims at preparing our kids for the future. We aim at providing safe space to the kids#}
                    {#while introducing them to movements you’ll expect out in the big world. They’ll develop improved#}
                    {#body control, strength and speed which will give them a huge leg up when having to participate in#}
                    {#sports and activities.#}
                    {#<br>#}
                    {#<br>#}
                    {#Most importantly we make sure everyone has fun!#}
                    {#<br>#}
                    {#<br>#}
                    {#We cater to all needs and can tweak and individualise our exercises upon request.#}
                    {#<br>#}
                    {#<br>#}
                    {#<a href="#" data-toggle="modal" data-target="#contactModal">Contact us to organise a session!</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <div class="modal fade" id="class-acrobatics-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-acrobatics-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-acrobatics-modalLabel">Acrobatics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-weightlifting-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-weightlifting-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-weightlifting-modalLabel">Weightlifting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Olympic Weightlifting is one of the oldest Olympic sports and is one of the rawest displays of
                    strength, speed and technique. In the Torque Movement weightlifting classes we will build the
                    physical and technical proficiencies required to execute the Olympic lifts safely and effectively.
                    This is achieved through an individualised progressive model identifying individual technical,
                    strength or mobility issues. Torque Movement Weightlifting classes are designed for everybody from
                    the absolute novice all the way through to athletes looking to compete on a national stage.
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-advancedskills-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-advancedskills-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-advancedskills-modalLabel">Skills</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    Sometimes a certain skill can take a little longer to learn due to having many components or simply
                    requires stubborn parts of the body to get stronger/more mobile.
                    <br>
                    <br>
                    This class is a place for people who have set their sights on a skill that requires a little extra
                    attention. Everyone is a beginner when they start developing a new skill, so this isn’t a class
                    exclusively just for advanced students.
                    <br>
                    <br>
                    Common skills requested:
                    <br>
                    <br>
                    Muscle-ups and variations<br>
                    Handstand walking/positions<br>
                    Levers and planche<br>
                    Gymnastics swing control skills<br>
                    <br><br>
                    Unsure if your skill belongs in this class? Get in contact and we’ll point you in the right
                    direction!
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="class-catchup-modal" tabindex="-1" role="dialog"
         aria-labelledby="class-catchup-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="class-catchup-modalLabel">Catch-up class</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-dark">
                    We all live busy lives which can get in the way of our scheduling. This class is here to help fill
                    in some of the gaps during your training. If you find yourself unable to make certain classes, come
                    along to this one and cover the things you missed.
                    <br>
                    <br>
                    For some classes, the weekly program will already be set on the board and you simply have to follow
                    through the list. Alternatively, you can come in and just cover the crucial parts of your training
                    that you may have missed during the week!
                    <br>
                    <br>
                    Because the trainer is required to cover such a wide range of training programs, it is important to
                    let us know what content you intend to cover with as much notice as possible.
                    <br>
                    <br>
                    <a class="text-center" href="/book/classes">Book in!</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tt-class").click(function () {
                $($(this).attr('modal-target')).modal('show')
            });
        });
    </script>
{% endblock %}
