<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="contactModalLabel">CONTACT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">
                    Get in contact with us today! Drop us a message on our social media or email, or give us a call!
                </p>
                <p class="social">
                    <a href="https://facebook.com/TorqueMovement" target="_blank" class="nav-link">
                        <i class="fa fa-lg fa-facebook">&nbspFacebook</i>
                    </a>
                    <a href="https://instagram.com/torquemovement" target="_blank" class="nav-link">
                        <i class="fa fa-lg fa-instagram">&nbspInstagram</i>
                    </a>
                    <a href="mailto:team@torquemovement.com" target="_blank" class="nav-link">
                        <i class="fa fa-lg fa-envelope">&nbspEmail</i>
                    </a>
                    <a href="tel:0423885230" class="nav-link">
                        <i class="fa fa-lg fa-phone">&nbsp0423 885 530</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
