<div class="footer container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <p>
                <b>Torque Movement</b><br>
                14B Kalman Drive<br>
                Boronia, 3155 <br>
            </p>
            <p>
                <b>Brian:</b> 0423 885 530<br>
                <a href="mailto:team@torquemovement.com" class="footer-email">team@torquemovement.com</a>
            </p>
        </div>
        <div class="col-12 col-sm-6">
            <p class="text-right">
                <b>Opening hours:</b><br>
            </p>
            <p class="text-right">
                <b>Mon-Thu</b> 11:00 – 13:00 and 16:30&nbsp–&nbsp20:30<br>
                <b>Fri</b> 11:00 – 13:00 and 16:30&nbsp–&nbsp19:30<br>
                <b>Sat</b> 11:00 – 14:00<br>
                <b>Sun</b> closed
            </p>
        </div>
    </div>
</div>
