{% extends 'base.twig' %}

{% block container %}
    <h2 class="text-center text-primary">Welcome to Torque Movement, a fitness, training, and performance centre located
        in Boronia. We offer a range of classes from fun for the kids, up to specialised movement and weightlifting
        classes. We also offer personal and group training!</h2>
    <hr>
    <!--<a href="#" data-toggle="modal" data-target="#promoModal">--><img class="img-fluid" src="static/img/wereback.png">
    <hr>
    <div class="row mx-auto">
        <div id="instafeed"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="static/js/moment.min.js"></script>
    <script src="static/js/instafeed.min.js"></script>
    <script src="static/js/instafeed.torquetwo.js"></script>
{% endblock %}
