<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container d-none d-md-flex">
        <ul class="navbar-nav mr-auto">
            <li {% if current_path == '/' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li {% if current_path == '/about' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item dropdown">
                <a {% if (current_path == '/classes' or '/book/' in current_path) %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle" {% endif %} href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CLASSES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a {% if current_path == '/classes' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/classes">TIMETABLE</a>
                    <div class="dropdown-divider"></div>
                    <a {% if current_path == '/book/classes' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/book/classes">BOOK CLASSES</a>
                </div>
            </li>

            <li {% if current_path == '/training' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/training">TRAINING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">CONTACT</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item social">
                <a href="https://facebook.com/TorqueMovement" class="nav-link">
                    <i class="fa fa-2x fa-facebook"></i>
                </a>
            </li>
            <li class="nav-item social">
                <a href="https://instagram.com/torquemovement" class="nav-link">
                    <i class="fa fa-2x fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid d-flex d-md-none flex-row">
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav flex-row">
            <li class="nav-item social">
                <a href="https://facebook.com/TorqueMovement" class="nav-link">
                    <i class="fa fa-2x fa-facebook"></i>
                </a>
            </li>
            <li class="nav-item social">
                <a href="https://instagram.com/torquemovement" class="nav-link">
                    <i class="fa fa-2x fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li {% if current_path == '/' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li {% if current_path == '/about' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a {% if (current_path == '/classes' or '/book/' in current_path) %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle" {% endif %} href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CLASSES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a {% if current_path == '/classes' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/classes">TIMETABLE</a>
                        <div class="dropdown-divider"></div>
                        <a {% if current_path == '/book/classes' %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="/book/classes">BOOK CLASSES</a>
                    </div>
                </li>
                <li {% if current_path == '/training' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="/training">TRAINING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>