<div class="modal fade" id="promoModal" tabindex="-1" role="dialog" aria-labelledby="promoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="promoModalLabel">NEW! Triple Value Pack!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body promo-modal">
                <a href="/book/classes"><img class="img-fluid" src="/static/img/3pack_banner.png"></a>
                <br>
                <br>
                <h2 class="text-center text-success">What makes this one so different?</h2>
                <p>

                    It’s all about expanding your skills with a combination of training styles.<br/><br/>
                    For just $39 you get 1 Movement class, 1 Intensity class and 1 Weightlifting class!
                    <br/><br/>
                    Miss a class? No worries.<br/>
                    If you can’t make it in to one of our Weightlifting, Intensity or Movement classes you can book in
                    to one of our 3 catch up classes that run throughout the week as a replacement. Just check our
                    website to pick a time!

                </p>
                <p>
                    <a href="/book/classes"><h3 class="text-center">Book NOW!</h3></a>
                </p>
                <h2>FAQ</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-left" style="white-space: normal"
                                        data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                        aria-controls="collapse2">
                                    Why these 3 classes?
                                </button>
                            </h5>
                        </div>

                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                            <div class="card-body">
                                We support inclusive training and encourage you to reach out and explore everything
                                that’s out there. A lot of the concepts taught in these classes overlap and are
                                transferable to other skills.<br/><br/>

                                <h4>About the classes:</h4><br/>
                                <h4>MOVEMENT:</h4><br/>
                                <ul>
                                    <li>The perfect class to learn to move your body and demonstrate control, even from some
                                        of the most awkward positions.</li>
                                    <li>Work on improving fundamentals like pull-ups, push-ups and squat variations.</li>
                                    <li>Have some fun with exercises we love such as handstands, drills on the rings and even
                                        some plyometrics.</li>
                                    <li>Develop a well-rounded body by learning a huge variety of exercises! Improve balance
                                        and flexibility.</li>
                                    <li>The freedom of this class allows us to individually address any gaps in any movement
                                        patterns.</li>
                                </ul>

                                <h4>INTENSITY:</h4><br/>
                                <ul>
                                    <li>Shred fat in this intense circuit-based class.</li>
                                    <li>Intensity is the perfect class to get fit and supercharge your endurance.</li>
                                    <li>Utilise your bodyweight with floor exercises and bar work.</li>
                                    <li>Get ready for a boot camp range of exercises using kettlebells, dumbbells, battle
                                        ropes, slam balls and the sled.</li>
                                </ul>

                                <h4>WEIGHTLIFTING::</h4><br/>
                                <ul>
                                    <li>Our weightlifting class is an ideal space to learn all forms of lifting and
                                        manoeuvring weight – including power lifting and Olympic lifting.</li>
                                    <li>Learn to execute the lifts safely and effectively to avoid injury.</li>
                                    <li>Individual technical, strength and mobility issues are identified to ensure we can
                                        give you an individualised training plan.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-left" style="white-space: normal"
                                        data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                        aria-controls="collapse3">
                                    Is it good for beginners?
                                </button>
                            </h5>
                        </div>

                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                            <div class="card-body">
                                Absolutely!<br/><br/>
                                A general approach to training is a great way to ensure there aren’t any major flaws in
                                your movement. Beginners will develop stronger fundamentals to prepare them for the
                                challenges expected when learning more complex
                                movements.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
