{% if not banner_promo %}
    <div class="promo-message text-center">
        Torque Movement would like to offer you a FREE 7 day trial!&nbsp&nbsp
        <a href="#" data-toggle="modal"
           data-target="#contactModal">
            <button type="button" class="btn block-inline btn-success">Contact</button>
        </a>
        <button id="close-promo" type="button" class="close">
            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
        </button>
    </div>
{% endif %}