{% extends 'base.twig' %}
 
{% block container %}
    <h1 class="text-primary text-center">Personal and small-group training</h1>
    <p>
        We are proud to provide both skills-based and general mobility/fitness personal and small group training. If
        class training just isn't your thing, you want to supplement your progress in group sessions or there is a
        skill you really want to nail (think ring muscle-ups or handstand push-ups), get in
        <a href="#" data-toggle="modal" data-target="#contactModal">contact</a> with us so we can help you reach your
        fitness and movement goals.
    </p>
    <div class="row price-table mx-auto">
        <div class="header col-12 text-center">
            TRAINING PRICING
        </div>
        <div class="col-6 order-1 col-md-4 order-md-1 text-center">
            One-on-One
        </div>
        <div class="col-6 order-3 col-md-4 order-md-2 text-center">
            Duo
        </div>
        <div class="col-6 order-5 col-md-4 order-md-3 text-center">
            Trio
        </div>
        <div class="col-6 order-2 col-md-4 order-md-4 text-center">
            $70
        </div>
        <div class="col-6 order-4 col-md-4 order-md-5 text-center">
            $80
        </div>
        <div class="col-6 order-6 col-md-4 order-md-6 text-center">
            $90
        </div>
    </div>
{% endblock %}